body {
  margin: 0;
  padding: 0;
  font-family: Open Sans Condensed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #231123;
}

.App {
  text-align: center;
  background-color: #82204A;
}

h1 {
  font-family: Sacramento;
  font-size: 109px;
  padding: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #e8db7d;
  text-shadow: 4px 5px 4px #2f3d3d;
}

h2 {
  color: #558C8C;
  letter-spacing: 2px;
  font-size: 32px;
  margin: 0;
  text-shadow: -1px 2px 3px #2f3d3d;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
