body {
  margin: 0;
  padding: 0;
  font-family: Open Sans Condensed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #231123;
}

.App {
  text-align: center;
  background-color: #82204A;
}

h1 {
  font-family: Sacramento;
  font-size: 109px;
  padding: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
  color: $smoothie-yellow;
  text-shadow: 4px 5px 4px $shadow-teal;
}

h2 {
  color: $title-color-teal;
  letter-spacing: 2px;
  font-size: 32px;
  margin: 0;
  text-shadow: -1px 2px 3px $shadow-teal;
}
