.chosen-ingredients {
  background: rgba(119, 29, 65, 6.2);
  box-shadow: -2px 2px 3px #6c1b39;
  width: 25rem;
  border-radius: 15px;
  margin: 10px auto;
}

.chosen-ingredients h3 {
  color: #558C8C;
  text-shadow: -1px 2px 3px #2f3d3d;
  font-size: 24px;
  margin-bottom: 10px;
}

.chosen-ingredients p {
  display: inline;
  margin: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
