// Styling for selected vs not selected ingredient.

.selected {
  background-color: $smoothie-yellow;
  color: #000;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.not-selected {
  padding: 10px;
  cursor: pointer;
  color: $smoothie-white;
  text-shadow: -1px 2px 3px #2f3d3d;
}