.ingredients-container {
  display: -webkit-flex;
  display: flex;
  max-width: 50rem;
  height: 25rem;
  margin: 20px auto;
  -webkit-justify-content: center;
  justify-content: space-around;
  background: $container-background-color;
  box-shadow: $container-box-shadow;
  border-radius: $container-border-radius;
}

.ingredient-category {
  font-size: 24px;
  text-decoration: underline;
  color: white;
  letter-spacing: 3px;
}

.ingredients {
  max-height: 18rem;
  overflow: scroll;
  box-shadow: inset 4px 4px 30px #3b081e;
  border-radius: 5px;
  letter-spacing: 1.3px;
  background-color: #5e0e33;
  width: 9rem;
  padding: 7px;
}