.selected {
  background-color: #E8DB7D;
  color: #000;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.not-selected {
  padding: 10px;
  cursor: pointer;
  color: #fff;
  text-shadow: -1px 2px 3px #2f3d3d;
}