.ingredients-container {
  display: -webkit-flex;
  display: flex;
  max-width: 50rem;
  height: 25rem;
  margin: 20px auto;
  -webkit-justify-content: center;
  justify-content: space-around;
  background: $container-background-color;
  box-shadow: $container-box-shadow;
  border-radius: $container-border-radius;
}

.ingredient-category {
  font-size: 24px;
  text-decoration: underline;
  color: $smoothie-white;
}

.ingredients {
  max-height: 18rem;
  overflow: scroll;
}