.smoothie-container {
  display: inline-grid;
  grid-template-columns: 25rem 25rem;
  background: $container-background-color;
  box-shadow: $container-box-shadow;
  border-radius: $container-border-radius;
  padding: 1.4rem;
  margin: 2rem;
}

.broaden-search {
  margin: 21px;
  padding: 48px;
}

.all-smoothies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 120rem;
}

