.smoothie-list-name {
  font-size: 26px;
  color: $smoothie-white;
  display: inline-block;
  height: 56px;
  width: 330px;
}

.smoothie-in-list {
  width: 358px;
  padding: 15px;
  background-color: $container-background-color;
  border-radius: $container-border-radius;
  margin: 20px;
}

img {
  cursor: pointer;
  border: 5px solid #E8DB7D;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  margin-bottom: 25px;
  box-shadow: -7px 7px 11px #6c1b39;
  &:hover {
    border: 5px solid #558C8C;
  }
}