$container-background-color: rgba(119, 29, 65, 6.2); 
$container-box-shadow: -2px 2px 3px #6c1b39;
$container-border-radius: 15px;
$title-color-teal: #558C8C;
$smoothie-yellow: #e8db7d;
$smoothie-white: #fff;
$shadow-teal: #2f3d3d;
