.App {
  text-align: center;
  background-color: #82204A;
}

h1 {
  font-family: Sacramento;
  font-size: 76px;
  padding: 10px;
  margin-bottom: 5px;
  color: #E8DB7D;
}

h2 {
  color: #558C8C;
  letter-spacing: 2px;
  font-size: 32px;
  margin: 0;
}