/* div .smoothie {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div h3 {
  width: 40rem;
}
*/

img {
  border: 5px solid #E8DB7D;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
} 

img:hover {
  border: 5px solid #558C8C;
}